@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Oswald:wght@200;300;400&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:wght@300;400&display=swap");
.tipoMonserrat {
  font-family: "Monserrat"; }

.tipoAnton {
  font-family: "Anton"; }

.tipoArchivoBlack {
  font-family: "Archivo+Black"; }

.TextorojoCarmesi {
  color: #EF1313; }

.Textopurpura {
  color: #7A2F92; }

.TextoVerde {
  color: #224D31; }

.TextoPalido {
  color: whitesmoke; }

.TextoPalido2 {
  color: ghostwhite; }

.Textopalido3 {
  color: snow; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.centradoAbsoluto {
  display: flex;
  justify-content: center; }

.bodySize {
  max-width: 1800px; }

.fondoBody {
  background-color: #2f2f30;
  /* Tricorn Black SW 6258*/ }

.imagenFondoCuerpo {
  background-image: url(/imagenes/Fondos/pngtreeBlackGothic.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.centradoTotal {
  margin: 0 auto; }

.blackSwan {
  background-color: rgba(58, 55, 62, 0.7); }

.blackBerry {
  background-color: rgba(83, 54, 64, 0.7); }

.riverRouge {
  background-color: rgba(118, 89, 93, 0.7); }

.enigma {
  background-color: rgba(139, 124, 126, 0.7); }

.deepestMauve {
  background-color: rgba(108, 88, 88, 0.7); }

.darkRoom {
  background-color: rgba(69, 62, 65, 0.7); }

.domino {
  background-color: rgba(52, 49, 54, 0.7); }

.letraChica {
  font-size: 1rem; }

.letraMediana {
  font-size: 2rem; }

.letraGrande {
  font-size: 2.5rem; }

.navbar-toggler {
  color: red !important;
  background-color: rgba(118, 89, 93, 0.7) !important; }

.navbar-toggler-icon {
  color: red !important; }

.navbar .navbar-nav .nav-item .nav-link {
  color: #DF3F59 !important; }

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: ghostwhite !important; }

.navbar .dropdown .dropdown-menu {
  background-color: rgba(83, 54, 64, 0.4) !important;
  border-color: black;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 10px; }

.navbar .dropdown .dropdown-menu .dropdown-item {
  color: red !important; }

.navbar .dropdown .dropdown-menu .dropdown-divider {
  color: black;
  height: 5px; }

.bordeSimple {
  border: whitesmoke;
  border-radius: 15px; }

.bordeTopLeftBottomRight {
  border: whitesmoke;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px; }

.bordeTopRightBottomLeft {
  border: whitesmoke;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px; }

.tarjetas {
  width: 19rem;
  border: solid;
  border-radius: 15px;
  padding: 8px 8px;
  background-color: #f8f5f1; }
  .tarjetas img {
    border: none;
    border-radius: 15px !important; }
  .tarjetas h5 {
    color: red; }
  .tarjetas p {
    color: #381c1c; }
  .tarjetas a.btn {
    background-color: rgba(108, 88, 88, 0.7) !important;
    border-color: black !important;
    border-radius: 25px !important; }

.cabezeraCarrito {
  width: 100%;
  border: solid thin;
  border-color: black;
  background-color: ghostwhite; }

.barraLateral {
  height: 800px;
  background-color: rgba(83, 54, 64, 0.4);
  border: solid thin;
  border-color: black;
  border-radius: 15px; }
  .barraLateral ul {
    list-style: none; }
  .barraLateral button {
    width: 100%;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: aliceblue; }
  .barraLateral button:hover {
    color: brown;
    font-weight: 400; }

.cuerpoCarrito {
  height: 800px;
  background-color: rgba(83, 54, 64, 0.4);
  border: solid thin;
  border-color: black;
  border-radius: 15px; }
  .cuerpoCarrito img {
    width: 12rem;
    border: solid thin;
    border-radius: 15px;
    padding: 8px 8px;
    background-color: #f8f5f1; }

.piePagina {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 600px;*/
  height: 350px; }

.fondoFooter {
  background-color: rgba(83, 54, 64, 0.4);
  /*border-style: solid;
	border-radius: 10px;*/ }

.enlaceSinDecoracion {
  text-decoration: none; }

.caja1 {
  display: flex;
  justify-content: start;
  align-items: center; }

.caja2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.piePagina .cajaPpal .caja2 a svg {
  /*background-color:  rgba(83, 54, 64, 0.6);*/
  transition: all 300ms ease !important;
  height: 45px;
  width: 45px;
  color: black; }

.piePagina .cajaPpal .caja2 a svg:hover {
  color: red !important; }

.piePagina .cajaPpal .caja2 p {
  transition: all 500ms ease; }

.piePagina .cajaPpal .caja2 p:hover {
  color: red; }

.caja3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.piePagina .cajaPpal .caja3 a svg {
  /*background-color:  rgba(83, 54, 64, 0.6);*/
  transition: all 300ms ease !important;
  height: 45px;
  width: 45px;
  color: black; }

.piePagina .cajaPpal .caja3 a svg:hover {
  color: red !important; }

.piePagina .cajaPpal .caja3 p {
  transition: all 500ms ease; }

.piePagina .cajaPpal .caja3 p:hover {
  color: red; }
