//VARIABLES

//COLORES BACKGROUND
$blancoLugubre: rgba(248,245,241,04);
$blackSwan: rgba(58, 55, 62, 0.7);
$blackBerry: rgba(83, 54, 64, 0.7);
$blackBerrylight: rgba(83, 54, 64, 0.4);
$riverRouge: rgba(118, 89, 93, 0.7);
$riverRougelight: rgba(118, 89, 93, 0.4);
$enigma: rgba(139, 124, 126, 0.7);
$deepestMauve:  rgba(108, 88, 88, 0.7);
$darkRoom: rgba(69, 62, 65, 0.7);
$domino:  rgba(52, 49, 54, 0.7);
$tricornBlack: rgba(47, 47, 48, 1.0);

//COLOR TEXTO NAVBAR LINk, ITEM, BTN
$rojo1: #DF3F59 !important;
$rojo2: red !important;


//Familia de Tipografia

$tipoFamilia1: "Monserrat";
$tipoFamilia2: "Anton";
$tipoFamilia3: "Archivo+Black";

//COLOR PARA TEXTOS
$noTanNegro: rgba(56,28,28,8);
$carmesi: #EF1313;
$purpura: #7A2F92;
$verde: #224D31;
$palido1: whitesmoke;
$palido2: ghostwhite;
$palido3: snow;

//RADIO DE BORDES
$normalRadio: 5px;
$medioRadio: 10px;
$grandeRadio: 15px;
$extraGrandeRadio: 25px;



